<div class="jumbotron pt-5 vh-100">
  <h2 class="text-left mb-0"><strong>SISRIRCO</strong></h2>
  <h4 class="text-left">Sistema de Registro de Inscripciones y Resultados de Competencias</h4>
  <hr class="my-4">
  <div class="container text-secondary">
    <div class="row">
      <div class="col-2"><h5>Competencia:</h5></div>
      <th class="col-9"><h5>{{ competencia.competencia}}</h5></th>
    </div>
    <div class="row">
      <div class="col-2"><h5>Fecha:</h5></div>
      <th class="col-9"><h5>{{ strFecha }}</h5></th>
    </div>
    <div class="row">
      <div class="col-2"><h5>Satus:</h5></div>
      <th class="col-9"><h5>{{ competencia.status }}</h5></th>
    </div>
    <div class="row">
      <div class="col-2"><h5>Club anfitrion:</h5></div>
      <th class="col-9"><h5>{{ competencia.club }}</h5></th>
    </div>
  </div>

  <hr class="my-4">
  <p>Bienvenidos a la web de inscripciones para los encuentros del Canotaje de la Provincia de Buenos Aires.</p>
</div>
